.student {
  /* define the student layout */
  display: grid;
  grid-template:
    "pic name toggle"
    "pic . toggle" 1.3rem
    "pic email toggle"
    "pic . toggle" 0.7rem
    "pic company toggle"
    "pic . ." 0.7rem
    "pic skill ."
    "pic . ." 0.7rem
    "pic average ."
    ". . ." 0.65rem
    ". grades ."
    ". . ." 1rem
    ". tag-list ."
    ". . ." 1rem
    ". input-tag ."
    ". . ." 0.7rem
    / auto 1fr max-content;
  column-gap: 3%;
  padding: 2% 0 2% 2%;
  text-align: left;
  // show separation of student by a line
  border-top: solid 0.1rem rgba(230, 228, 228, 0.479);
  border-bottom: solid 0.1rem rgba(230, 228, 228, 0.404);
  &-pic {
    grid-area: pic;
    // make the picture a circle
    justify-self: center;
    align-self: center;
    border-radius: 50%;
    border: solid 0.1rem rgb(197, 197, 197);
    height: 8.5rem;
    width: 8.5rem;
  }
  &-name {
    grid-area: name;
    // make the name stand out
    font-size: 3.2rem;
    font-weight: bold;
    text-transform: uppercase;
  }
  /*  make the fields easy to read */
  &-info {
    font-weight: 200;
    margin-left: 3%;
    font-size: 1.6rem;
  }
  &-email {
    grid-area: email;
  }
  &-company {
    grid-area: company;
  }
  &-skill {
    grid-area: skill;
  }
  &-average {
    grid-area: average;
  }
  // move grade to the grid
  &-grades {
    grid-area: grades;

    // add a bit of white space seaprting each grade
    display: flex;
    flex-direction: column;
    row-gap: 0.3rem;
  }

  // add input tag to layout
  &-input-tag {
    grid-area: input-tag;
  }
  // add tag list to layout
  &-tag-list {
    grid-area: tag-list;

    display: flex;
    // add a bit of white space seaprting each tag
    column-gap: 0.5rem;
    row-gap: 0.5rem;
    // wrap tags to different lines
    flex-wrap: wrap;
  }
  /* handle toggle button and content */
  &-expand-view {
    &-button {
      grid-area: toggle;
      justify-self: end;
      margin-right: 2rem;
      // make button stand out
      height: 4rem;
      width: 4rem;
      cursor: pointer;
      &-icon {
        height: 100%;
        width: 100%;
        fill: rgb(197, 197, 197);
        &:hover {
          fill: rgb(0, 0, 0);
        }
        &:active {
          fill: rgb(0, 0, 0);
        }
      }
    }
    // hide content when button is clicked
    &-hide {
      display: none;
    }
  }
}
