@import "../sass/variables";
/* center student list, and have a contrast background */
.app {
  min-height: 100vh;
  display: grid;
  justify-content: center;
  align-items: center;
  background-color: rgb(243, 243, 243);
}

.student {
  /* simulate a container that contains all students info */
  &-list {
    box-shadow: 0 0 0.2rem rgb(110, 110, 110);
    width: 50vw;
    height: 80vh;
    overflow: auto;
    border-radius: 1rem;
    background-color: white;
  }
}
