@import "../sass/variables";
/* center student list, and have a contrast background */
.app {
  min-height: 100vh;
  display: grid;
  justify-content: center;
  align-items: center;
  background-color: rgb(243, 243, 243);
}

.student {
  /* simulate a container that contains all students info */
  &-list {
    box-shadow: 0 0 0.2rem rgb(110, 110, 110);
    width: 50vw;
    height: 80vh;
    overflow: auto;
    border-radius: 1rem;
    background-color: white;
  }
  /* define the student layout */
  min-height: 16rem;
  display: grid;
  grid-template:
    "pic name"
    "pic ." 10%
    "pic email"
    "pic ." 5%
    "pic company"
    "pic ." 5%
    "pic skill"
    "pic ." 5%
    "pic average"
    "pic ." 2%
    / auto 1fr;
  column-gap: 3%;
  padding: 2% 0 2% 2%;
  text-align: left;
  // show separation of student by a line
  border-top: solid 0.1rem rgba(230, 228, 228, 0.479);
  border-bottom: solid 0.1rem rgba(230, 228, 228, 0.404);
}
