/* You can add global styles to this file, and also import other style files */
@import "./reset";
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200;700&display=swap");
h1,
p {
  font-family: "Raleway", sans-serif;
}

/* general input styles */
input {
  border-bottom: solid 0.1rem rgb(212, 212, 212);
  padding: 1rem;
  font-size: 1.6rem;
  margin: 0 2%;
  &:active {
    border: none;
    border-bottom: solid 0.1rem black;
  }
  &:focus {
    border-bottom: solid 0.1rem black;
  }
}
