/* simulate a container that contains all students info */
.student-list {
  box-shadow: 0 0 0.2rem rgb(110, 110, 110);
  width: 50vw;
  height: 80vh;
  overflow: auto;
  border-radius: 1rem;
  background-color: white;
  &-input {
    width: 96%;
    border-bottom: solid 0.1rem rgb(212, 212, 212);
    padding: 1rem;
    font-size: 1.6rem;
    margin: 0 2%;
    &:active {
      border: none;
      border-bottom: solid 0.1rem black;
    }
    &:focus {
      border-bottom: solid 0.1rem black;
    }
  }
}
